<%- include ("partials/header") %>
<div class="my-5 container" style="padding-top: 4rem;">
    <div class="row">
        <div class="col-6">
            <h1 class="display-4 my-5">Interview Creation Portal.</h1>
            <p class="display-6">Simplifying way of creating and managing interviews.</p>
        </div>
        <div class="col-6">
            <img class="d-none d-md-flex" src="/images/interview.svg" alt='logo' id="svgLanding" >
        </div>
    </div>
</div>
<%- include ("partials/footer") %>
